/*
LEFT BAR
*/
		
.playlists-sidebar .soundboard-control {
  display: grid;
  place-content: center;
  flex: 0 0 16px;
  text-align: center;
  color: var(--color-text-light-3);
  font-size: var(--font-size-11);
}

.soundboardadv {
  width: 1020px;
  height: 800px;
  border: 0px solid #000;
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: 1fr;
grid-column-gap: 5px;
grid-row-gap: 0px;
}
.header-extras {
  background-color: rgba(0,0,0,0.1);
}
.playlists-sidebar li.mood {
margin: 2px 0;
padding: 0;
align-items: center;
}

.soundboardadv-main {
  background-color: #ddd;
  /*overflow-x: scroll;*/
  display: none;
}

.playlist-track-ctn{
  display: flex;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.playlist-track-ctn.disabled {
background-color: #464646;
}

.playlist-track-ctn.active {
  background-color: #bbacac;
}
.playlist-track-ctn:last-child{
  /*border: 1px solid #ffc266; */
}

.playlist-track-ctn > div{
  margin:10px;
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #ffc266 !important;
}

.playlist-btn-play{
  /*pointer-events: none;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.playlist-info-track{
  width:50%;
}
.playlist-info-track,.playlist-duration{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  /*pointer-events: none;*/
}

.soundboardfas {
  color: #ffc266;
  font-size: 20px;
}

.mood-active {
  /*background-color: #ddd;
  overflow-x: scroll;*/
  display: block;
}

/*
SOUND CONTROL
*/
.soundscapeadv-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  /*max-width: 1200px;*/ /* Ensure it doesn't stretch too wide */
}
.soundscapeadv-element {
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.soundscapeadv-element.on {
  border: 1px solid rgb(76, 243, 76);
  background-color: rgba(185, 241, 185,1);
}

.soundscapeadv-element.off {
  border: 1px solid rgb(243, 76, 76);
  background-color:  rgb(250, 206, 206);
}

.soundscapeadv-element.hidden {
 display: none;
}

.soundscapeadv-element h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  border-style:none;

}
.soundscapeadv-slider-container {
  width: 100%;
  margin: 10px 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}
.soundscapeadv-slider-label {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-align: center;
}
.extras-collapsed {
  max-height: 0;
}
.soundscapeadv-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.soundscapeadv-slider:hover {
  opacity: 1;
}
.soundscapeadv-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}
.soundscapeadv-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.mood-general-config {
  position: absolute;
  width: 1050px;
  text-align: end;
  padding-right: 50px;
}

.extra_btn_div {
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;       /* Centers vertically */
  overflow: hidden;

}
.extra_btn_div span {
  padding: 10px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 10px;
    /*background: #e7e7e7;*/
    font-size: 15px;
    line-height: 15px;
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    box-sizing: content-box;
}

/*SOUNDS BAR*/
#sound-bars {
  height: 20px;
  width: 20px;
  position: relative;
  text-align:center; 
}

.sound-bar {
 background: #666;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;      
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 18px;        
  }
}

.playing-bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.playing-bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.playing-bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.playing-bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.playing-bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.playing-bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.playing-bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.playing-bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.playing-bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.playing-bar:nth-child(10) { left: 37px; animation-duration: 442ms; }

/*SOUNDS BAR*/

/* INTERVAL SLIDER */
.interval_form_control {
  /*margin-top: 15px;*/
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #635a5a;
}

input[type='range'].interval {
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
input[type='number'].interval {
  width: 40px;
}
input[type='range'].interval,
input[type='range'].interval::-webkit-slider-runnable-track,
input[type='range'].interval::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
input[type='range'].interval::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #dee1e4;
}

input[type='range'].interval:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range'].interval::-webkit-slider-thumb {
  position: relative;
  margin-top: -7px;
  background: #d7754e;
  border: 1px solid #003D7C;
  z-index: 1;
}


input[type='range'].interval:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

.rangeslider{
    position: relative;
    
}
.rangeslider input{
    position: absolute;
}


.rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right{
   position: relative;
   float: right;
   margin-right: -5px;
}


/* Proof of concept for Firefox */
@-moz-document url-prefix() {
  .rangeslider::before{
    content:'';
    width:100%;
    height:2px;
    background: #003D7C;
    display:block;
    position: relative;
    top:16px;
  }

  input[type='range'].interval:nth-child(1){
    position:absolute;
    top:35px !important;
    overflow:visible !important;
    height:0;
  }

  input[type='range'].interval:nth-child(2){
    position:absolute;
    top:35px !important;
    overflow:visible !important;
    height:0;
  }
input[type='range'].interval::-moz-range-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}

  input[type='range'].interval:nth-child(1)::-moz-range-thumb {
      transform: translateY(-20px);    
  }
  input[type='range'].interval:nth-child(2)::-moz-range-thumb {
      transform: translateY(-20px);    
  }
}

.soundpad-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 50%;
  filter: drop-shadow(0 0 3.1rem rgba(255,255,255, 0.8));
}

.soundpad-playing {
  background:#63a5f0;
}

.soundpad-player button {
  margin: 0;
  padding: 0;
}


.soundpad-player:hover{
background:#63a5f0;
cursor:pointer;

}

.icon-rounded {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
}

.sound-control {
  cursor: pointer;
}

.soundconfig-slider input {
  --start: 20%;
  --stop: 50%;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  pointer-events: none;
  position: absolute;
  height: 4px;
}

.soundconfig-slider input:first-of-type {
  background-image: linear-gradient(to right, lightgrey var(--start), dodgerblue var(--start), dodgerblue var(--stop), lightgrey  var(--stop));
}

.soundconfig-slider ::-moz-range-thumb {
  cursor: pointer;
  pointer-events: auto;
}
.soundconfig-slider ::-webkit-slider-thumb {
  cursor: pointer;
  pointer-events: auto;
}

/**
changelog
*/
.changelog {
  /*background-color: #fff;*/
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
  /*color: #757575;*/
  /*padding: 80px 114px;*/
  position: relative;
  z-index: 1;
}

.changelog h2 {
  border-color: #CFD8DC;
  /*color: #424242;*/
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  /*margin-bottom: 26px;
  padding-bottom: 15px;*/
}

.changelog {
  .badge {
    position: relative;
    top: -3px;
    border-radius: 16px;
    display: inline-block;
    width: 90px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
  }
  .badge-fixed {
    background-color: #dd4b39;
    color: #fff;
}

.badge-added {
    background-color: #0F9D58;
    color: #fff;
}

.badge-changed {
    background-color: #F4B400;
    color: #fff;
}

h1, h2, h3 {
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
}

h1 {
    font: 400 32px/40px Google Sans,sans-serif;
    letter-spacing: 0;
    margin: 48px 0 24px;
}

h2 {
    border-bottom: 0;
    font: 400 22px/30px Google Sans,sans-serif;
    margin: 48px 0 24px;
    padding-bottom: 0;
    letter-spacing: -.01em;
}

h2 .date {
  color: #4285F4;
}

h3 {
      font: 400 18px/30px Google Sans,sans-serif;
      margin: 32px 0 16px;
}

p {
    margin: 16px 0;
    padding: 0;
}

code, pre, .pre-style {
    background: #f7f7f7;
    color: #37474f;
    font: 400 100%/1 Roboto Mono,monospace;
    padding: 1px 4px;
    font: 500 90%/1 Roboto Mono,monospace;
    word-break: break-word;
}

ul {
    display: block;
    list-style: disc outside;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin: 8px 0 8px 22px;
    padding: 0;
}

:link, :visited {
    color: #039be5;
    outline: 0;
    text-decoration: none;
}
}



