/* Sidebar */
.playlists-sidebar .soundboard-control {
    display: grid;
    place-content: center;
    flex: 0 0 16px;
    text-align: center;
    color: var(--color-text-light-3);
    font-size: var(--font-size-11);
}

.soundboardadv {
    width: 1020px;
    height: 800px;
    border: 0px solid #000;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}
.playlists-sidebar li.mood {
  margin: 2px 0;
  padding: 0;
  align-items: center;
}
  
  /* MAIN*/
  .soundboardadv-main {
    background-color: #ddd;
    /*overflow-x: scroll;*/
    display: none;
  }
  
  .mood-active {
    /*background-color: #ddd;
    overflow-x: scroll;*/
    display: block;
  }
  
  .sound-div {
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
  }
  
  .sound-title {
      text-align: center;
      margin-bottom: 10px;
  }
  
  .sound-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
  }
  
  .soundboardadv-contain {
    
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  }
  
  .playlist-track-ctn{
    display: flex;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  .playlist-track-ctn.disabled {
  background-color: #464646;
  }

  .playlist-track-ctn.active {
    background-color: #bbacac;
  }
  .playlist-track-ctn:last-child{
    /*border: 1px solid #ffc266; */
  }
  
  .playlist-track-ctn > div{
    margin:10px;
  }
  
  .active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
    color: #ffc266 !important;
  }
  
  
  .playlist-btn-play{
    /*pointer-events: none;*/
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .playlist-info-track{
    width: 80%;
  }
  .playlist-info-track,.playlist-duration{
    padding-top: 7px;
    padding-bottom: 7px;
    color: #e9cc95;
    font-size: 14px;
    /*pointer-events: none;*/
  }
  
  .soundboardfas {
    color: #ffc266;
    font-size: 20px;
  }
  /*final side bar */
  
  .sound-item {
    /*background-color: #f0f0f0;*/ /* Add background color for better visibility */
      padding: 10px;
      /*border: 1px solid #ccc;*/
      border-radius: 5px;
      width: 80px; /* Fixed width */
      height: 80px; /* Fixed height */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; /* Center content vertically */
  }

  .sound-item.on {
    border: 1px solid rgb(168, 240, 168);
    background-color: rgba(185, 241, 185,1);
}

.sound-item.off {
    border: 1px solid rgb(243, 76, 76);
    background-color:  rgb(243, 106, 106);
}


  
  /*SOUNDS BAR*/
  #sound-bars {
      height: 40px;
      width: 40px;
      position: relative;
  }
  
  .sound-bar {
     background: #666;
      bottom: 1px;
      height: 3px;
      position: absolute;
      width: 3px;      
      animation: sound 0ms -800ms linear infinite alternate;
  }
  
  @keyframes sound {
      0% {
         opacity: .35;
          height: 3px; 
      }
      100% {
          opacity: 1;       
          height: 28px;        
      }
  }
  
  .playing-bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
  .playing-bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
  .playing-bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
  .playing-bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
  .playing-bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
  .playing-bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
  .playing-bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
  .playing-bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
  .playing-bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
  .playing-bar:nth-child(10) { left: 37px; animation-duration: 442ms; }
  
  /*SOUNDS BAR*/

  .sb-slider {
    appearance: none; /* removes browser-specific styling */
    width: 80px !important; /* width of slider */
    height: 20px; /* height of slider */
    background: #FF5C35 ; /* orange background */
    outline: none; /* remove outline */
    border-radius: 50px; /* round corners */
    margin-top: 390% !important;
    transform: rotate(270deg); /* rotate the element */
    margin-left: -450% !important;
}

.sb-slider::-webkit-slider-thumb {
  appearance: none; /* removes browser-specific styling */
  width: 20px; /* handle width */
  height: 20px; /* handle height */
  border-radius: 50%; /* make it circular */
  background: #FFFFFF; /* white color */
  cursor: pointer; /* cursor on hover */
}