<div class="changelog">
    <h2 id="_version_021_august_2024">
        <a name="0.2.2"> Version 0.2.2 - <span class="date">August, 2024<span></a>
    </h2>
    <ul>
        <li><span class="badge badge-fixed">fixed</span> Resolved an issue that was preventing moods to play when a player moves their token.</li>
  </ul>
    <h2 id="_version_020_august_2024">
        <a name="0.2.0"> Version 0.2.0 - <span class="date">August, 2024<span></a>
    </h2>
    <ul>
        <li><span class="badge badge-fixed">fixed</span> Resolved an issue that was preventing the dialog to select the root folder from appearing when the module is enabled for the first time in the world..</li>
        <li>
            <span class="badge badge-changed">Changed</span> Extra configurations are moved to a new window.
        </li>
        <li>
            <span class="badge badge-added">Added</span> There are now several ways to trigger a mood. It can be activated by a Region, at the start or end of combat, or when a scene is activated. For more details, check the video below.
        </li>
        <li>
            <span class="badge badge-added">Added</span> Option to hidde sounds that are disabled.
        </li>
  </ul>
  <br/>
  <br/>
  <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oH7ztlTcZ-c?si=wGMaJc3oYW9PPdg_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</center>
</div>