<div class="changelog">
  <h2 id="_version_050_jan_2026">
    <a name="0.5.0"> Version 0.5.0 - New Year New Layout <span class="date">Jan, 2026<span></span></span></a>
  </h2>
  <p>The soundscape Adventure V5 has a new layout and improved user interface.</p>
    <p>Now you can select 2 different views: Card View and Mixer View (you need to go to Game Settings -> Soundscape Adventure).</p>

  <img src="/modules/soundscape-adventure/assets/soundscape-2026.png" alt="Soundscape Adventure V5 Layout"/>

  

  <p>The sad news is the previous soundscape that loads sounds from internet is deprecated. Good news is new modules are coming soon this year to enhance the experience.</p>

  <p>I really recoment you to watch the basic tutorial on <a href="https://youtu.be/qpR3C4fUmUs" target="_blank">https://youtu.be/qpR3C4fUmUs</a>.</p>
</div>